:root{
        
    --color-seconds: #0E698B;
    --color-third: #27C3EA;
    --color-fourth: #86D7C1;
    --color-white: #FFF;
    --color-background: rgba(37, 56, 84, .3);
    /* background-color: rgba(134, 215, 193, .2); */
}